{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["Android >= 4.0", "ios >= 6"]
      },
      "modules": "commonjs",
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-async-to-generator",
    ["component",  { "libraryName": "mint-ui", "style": true }]
  ]
}
